<div class="article-card">
  <img class="article-image" [src]="article.urlToImage" />
  <div class="article-content">
    <h3>{{ article.title }}</h3>
    <h5>{{ article.author }}, {{ article.publishedAt | date }}</h5>
    <div class="btn-group">
      <button
        [routerLink]="[
          '/articles',
          articleId,
          { filter: filter ? filter : 'All' }
        ]"
        class="btn btn--primary"
      >
        Read more
      </button>
      <button
        [disabled]="isSaved"
        (click)="onSaveForLater()"
        class="btn btn--primary"
      >
        Save for later
      </button>
    </div>
  </div>
</div>
