<div class="article-list-error" *ngIf="articles.length === 0">
  <h2>Sorry, no articles yet.</h2>
</div>
<select class="select" (change)="onChange($event.target.value)">
  <option>Filter articles</option>
  <option>All</option>
  <option *ngFor="let item of newsSources">{{ item }}</option>
</select>
<div class="article-list" *ngIf="articles">
  <app-article
    *ngFor="let article of filteredArticles; index as articleId"
    [article]="article"
    [articleId]="articleId"
  ></app-article>
</div>
