<div class="article-list-error" *ngIf="savedArticles.length === 0">
  <h2>Sorry, no saved articles yet.</h2>
</div>
<div class="article-list" *ngIf="savedArticles">
  <app-saved-article-card
    *ngFor="let article of savedArticles; index as articleId"
    [article]="article"
    [articleId]="articleId"
    [savedArticles]="savedArticles"
    (showModal)="onShowModal($event)"
  ></app-saved-article-card>
  <app-modal id="modal" *ngIf="showModal">
    <h2>Remove from saved articles?</h2>
    <div>
      <button class="btn--modal" (click)="onRemove()">Remove</button>
      <button class="btn--modal" (click)="onCancel()">Cancel</button>
    </div>
  </app-modal>
</div>
